<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/create.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/js/create.js}"></script>

<title>Insert title here</title>
</head>
	<body>
		<h1>草・新規登録画面</h1>

		<form action="/users" th:action="@{/users}" th:object="${form}" method="POST">

			<p class="error" th:text="${message}" />

			<label for="name">お名前</label>
			<input id="name" type="text" name="name" th:field="*{name}" /><br>
			<span id="nameLimit">10文字以下で入力してください</span>
			<span id="nameEmpty">名前を入力してください</span>
			<br>

			<label for="login_id">ログインID</label>
			<input id="login_id" type="text" name="login_id" th:field="*{login_id}" /><br>
			<span id="login_idEmpty">ログインIDを入力してください</span>
			<span id="login_idLimit">6文字から20文字で入力して下さい</span>
			<span id="login_idRegex">半角英数字のみ有効です</span>
			<br>

			<label for="rawPassword">パスワード</label>
			<input id="pw" type="password" name="rawPassword" th:field="*{rawPassword}" /><br>
			<span id="pwEmpty">PWを入力してください</span>
			<span id="pwLimit">6文字から20文字で入力して下さい</span>
			<span id="pwRegex">半角英数字のみ有効です</span>
			<br>

			<label for="secondPassword">確認用パスワード</label>
			<input id="secondPw" type="password" name="secondPassword" th:field="*{secondPassword}" /><br>
			<span id="secondPwEmpty">確認用PWを入力してください</span>
			<span id="secondPwMismatch">PWが不一致です</span>
			<br>

			<label for="division_id">支店</label>
			<select name="division_id">
			<option th:each="division : ${division}" th:value="${division.division_id}" th:text="${division.division_name}"></option>
			</select><br><br>

			<label for="position_id">部署・役職</label>
			<select name="position_id">
			<option th:each="posi : ${position}" th:value="${posi.position_id}" th:text="${posi.position_name}"></option>
			</select><br><br>

			<input onclick="return createErrerCheck()" type="submit" value="登録">
		</form>
	</body>
</html>