<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script>
  function hospitalflg0(){
		 confirm('停止します。よろしいですか？');
  }
  function hospitalflg1(){
		confirm('復元します。よろしいですか？');
  }
</script>
	<body>
		<h1>草</h1>
		<a th:href="@{/users/create}">新規登録</a>&#x2003;&#x2003;&#x2003;
		<a th:href="@{/users/submit}">投稿一覧画面</a><br>
		<table border="1">
			<tr><th>id</th>
				<th>名前</th>
				<th>支店</th>
				<th>部署・役職</th>
				<th>編集</th>
				<th>停止/復元</th>
				</tr>
			<tr th:each="user: ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.division_name}"></td>
				<td th:text="${user.position_name}"></td>
				<td><form action="users/edit" method="get">
					<input type="submit" value="編集">
	    	        <input type="hidden" name="id" th:value="${user.id}">
	            </form>
	            <td><form action="users/stop" th:action="@{/users/stop}" method="POST">
	            	<input type="hidden" name="id" th:value="${user.id}">
	            	<input type="hidden" name="is_delete" th:value="${user.is_delete}">
	            	<div th:unless="${user.is_delete} == 0">
						 <input type="submit" value="復元" onclick="hospitalflg1();">
	    	        </div>
	    	        <div th:unless="${user.is_delete} == 1">
	    	        	 <input type="submit" value="停止" onclick="hospitalflg0();"  >
					</div>
	           		</form>
	           	</td>
			</tr>
		</table>
	</body>
</html>