<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/submit.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/js/submit.js}"></script>
<!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/submit.js}"></script>
<!-- jQuery読み込み -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>

<title>投稿一覧</title>
</head>
<body>

	<div class="all">
		<h1>投稿一覧</h1>

		<a th:href="@{/users}">ユーザ一覧</a>

		<form action="/users" th:action="@{/users/submit}" th:object="${form}"
			method="POST">

			<p class="error" th:text="${message}" />
			<div>
				<input id="subject" type="text" name="subject" placeholder="件名"
					th:field="*{subject}" /><br> <span id="subjectEmpty">件名を入力してください</span><br>
				<span id="subjectLimit">30文字以内で入力してください</span><br>

				<textarea id="message" name="message" placeholder="本文"
					th:field="*{message}"></textarea>
				<br> <span id="messageEmpty">メッセージを入力してください</span><br> <span
					id="messageLimit">1000文字以内で入力してください</span><br>
			</div>

			<div style="padding-top: 15px">
				<input onclick="return submitErrerCheck()" type="submit" value="投稿">
			</div>
			<br>
		</form>

		<table border="1">
			<tr>
				<th>件名</th>
				<th>内容</th>
				<th>日時</th>
			</tr>
			<tr th:each="submit: ${submit}">
				<td th:text="${submit.subject}"></td>
				<td th:text="${submit.message}"></td>
				<td th:text="${submit.date}"></td>
			</tr>
		</table>
	</div>
</body>
</html>