@charset "UTF-8";

/* エラーメッセージの非表示 */
#nameLimit {
	color:red;
	display:none;
}
#nameEmpty {
	color:red;
	display:none;
}
#login_idEmpty {
	color:red;
	display:none;
}
#login_idLimit {
	color:red;
	display:none;
}
#login_idRegex {
	color:red;
	display:none;
}

#pwEmpty {
	color:red;
	display:none;
}
#pwLimit {
	color:red;
	display:none;
}
#pwRegex {
	color:red;
	display:none;
}

#secondPwEmpty {
	color:red;
	display:none;
}
#secondPwMismatch {
	color:red;
	display:none;
}
