@charset "UTF-8";

.all{
	text-align:center;
}

/* エラーメッセージの非表示 */
#subjectEmpty,#subjectLimit,#messageEmpty,#messageLimit {
	color:red;
	display:none;
}

h1 {

	padding-top:30px
}

table {
	margin-left: 290px;
    width: 60%;
}
th,td {

}